---
---

@import "{{ site.theme }}";

body p {
    color: #003366;
}

a {
    color: #003366;
}

a:hover {
    color: #00234d;
}

header {
    background: #F8DBA3 url(../images/header-bg.jpg) 0 0 repeat-x;
    border-bottom: solid 1px #EBB666;
}
header a.button {
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/github-button.png) 0 0 no-repeat;
    color: #003366;
    /* change background color here */
    
    /* add text color here */
}

header a.button:hover {
    background-color: #00234d;
    /* change hover background color here */
    // color: #EBB666;
    /* change hover text color here */
}

aside a.button {
    display: block;
    width: 138px;
    padding-left: 64px;
    margin-bottom: 20px;
    font-size: 21px;
    background: url(../images/download-button.png) 0 0 no-repeat;
    /* change background color here */
    color: #003366;
    /* add text color here */
}

aside a.button:hover {
    background-color: #00234d;
    /* change hover background color here */
    // color: #EBB666;
    /* change hover text color here */
}
header h1 {
    color: #003366;
}

header h2 {
    color: #003366;
}

#main-content h1 {
    color: #000000;
}

#main-content h1:before {
    color: #000000;
}

#main-content h2 {
    color: #000000;
}

#main-content h2:before {
    color: #000000;
}

#main-content h3 {
    color: #000000;
}

#main-content h3:before {
    color: #003366;
}

#main-content h4 {
    color: #000000;
}

h4:before {
    color: #000000;
}

#main-content h5 {
    color: #000000;
}

h5:before {
    color: #000000;
}

#main-content h6 {
    color: #000000;
}

h6:before {
    color: #000000;
}


