---
---

@import "{{ site.theme }}";

body p {
    color: #003366;
}

a {
    color: #003366;
}

a:hover {
    color: #00234d;
}

header {
    background: #F8DBA3 url(../images/header-bg.jpg) 0 0 repeat-x;
    border-bottom: solid 1px #EBB666;
}

header h1 {
    color: #003366;
}

header h2 {
    color: #003366;
}

#main-content h1 {
    color: #000000;
}

#main-content h1:before {
    color: #000000;
}

#main-content h2 {
    color: #000000;
}

#main-content h2:before {
    color: #000000;
}

#main-content h3 {
    color: #000000;
}

#main-content h3:before {
    color: #003366;
}

#main-content h4 {
    color: #000000;
}

h4:before {
    color: #000000;
}

#main-content h5 {
    color: #000000;
}

h5:before {
    color: #000000;
}

#main-content h6 {
    color: #000000;
}

h6:before {
    color: #000000;
}


